<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--  Dicionando Links do cabeçalho  ___  Fragments headerfiles -->
<th:block th:include="fragments/layout.html :: headerfiles"> </th:block> 
</head>
<body>

<!--  Dicionando Menu  ___  Fragments NAVLINKS -->
<div th:replace="fragments/layout :: navlinks"></div>
    
    
<main id="main" class="main">

   <section class="section dashboard">
     <div class="row">

        <!-- Left side columns -->
        <class="col-lg-8">
          <div class="row">
			
			  
	         <div class="card info-card customers-card">
	
		         <div class="card-body">
		         		</br>
		         		
		         		<span th:if="${msg == 'success'}">
					        <div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>Sucesso!</strong> Setor adicionado a base de dados.
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div></span>
		         		
		         		<a href="/setor/listar" class="btn btn-primary btn-sm" tabindex="-1"
			         	     role="button" aria-disabled="true"><i class='bx bx-list-ul'></i>Listar</a>
			         	     
		                <h5 class="card-title">Cadastrar <span>| Setor</span></h5>
		
			        <form action="/setor/salvar"
						th:object="${setor}" method="POST">
						
						<div class="mb-3">
						  <label for="nome" class="form-label">Nome</label>
						  <input type="text" class="form-control" id="nome" th:field="*{nome}"
						           placeholder="Nome setor" required >
						</div>
						<div class="mb-3">
						  <label for="observacao" class="form-label">Observação</label>
						  <input type="text" class="form-control" id="descricao"
						                  th:field="*{observacao}"  placeholder="Obeservação">
						</div>
					
						<input type="hidden" id="id" th:field="*{id}" value="" />
						<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
					</form>
			
		         </div>
	         </div>

          </div><!-- End Customers Card -->

      
     </div>
   </section>

</main><!-- End #main -->
  
    
   <!--  Dicionando Footer  ___  Fragments FOOTER -->
  <div th:replace="fragments/layout :: footer"></div>
</body>
</html>
